name: Test

on:
  pull_request: 
    types:
      - opened
    branches: 
      - "main"
    paths:
      - 'main.py'
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4.1.1
      with:
        fetch-depth: 0
    - name: Update pakages
      run: sudo apt update
    - name: Launch check code
      run:  sudo apt install -y pycodestyle
    - name: check code
      run: pycodestyle --first main.py
    - name: Install librairies
      run: sudo apt install python3-pandas && sudo apt install python3-requests  && sudo apt install python3-requests
    - name: Specication
      run: pip freeze main.py > requirements.txt
    - name: Installation
      run: pip install -r requirements.txt
    - name: execution
      run: python3 main.py 
    - name: Auto Merge Branches
  # You may pin to the exact commit or the version.
  # uses: itsyuvalcohen/merge-branches@2e62db2e6986229511a9258a7aa2646f99bc9e4e
      uses: itsyuvalcohen/merge-branches@v1.2.0
      with:
        target_branch: 'main'
        message: "merging success !"
        github_token : "${{ secrets.TUKER }}"    
          
   
  

    
